<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :descricao, class: "form-label"%>
    <%= form.text_field :descricao, class: "form-control", placeholder: "Descrição" %>
  </div>

  <div class="mb-3">
    <%= form.label :tipo, class: "form-label"%>
    <%= form.text_field :tipo, class: "form-control", placeholder: "Descritiva / Alternativa" %>
  </div>

  <div class="mb-3">
    <%= form.label :dificuldade, class: "form-label"%>
    <%= form.text_field :dificuldade, class: "form-control", placeholder: "Fácil, médio..." %>
  </div>

  <div class="mb-3">
    <%= form.label :resposta, class: "form-label"%>
    <%= form.text_field :resposta, class: "form-control", placeholder: "Resposta" %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-secondary"%>
  </div>
<% end %>
<br>