<div id="<%= dom_id question %>">
  <p>
    <strong>Descricao:</strong>
    <%= question.descricao %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= question.tipo %>
  </p>

  <p>
    <strong>Dificuldade:</strong>
    <%= question.dificuldade %>
  </p>

  <p>
    <strong>Resposta:</strong>
    <%= question.resposta %>
  </p>

</div>
