<div id="<%= dom_id question %>">
  <p>
    <strong>Descricao</strong>
    <br>
    <p>
      <%= question.descricao %>
    </p>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= question.tipo %>
  </p>

  <p>
    <strong>Dificuldade:</strong>
    <%= question.dificuldade %>
  </p>

  <% if current_user.role == "Professor" %>
    <p>
      <strong>Resposta:</strong>
      <%= question.resposta %>
    </p>
  <% else %>

    <% if question.tipo == "Alternativa" %>
      <input type="radio" id="A" name="alternativa a" value="A">
      <label for="A">A</label><br>
      <input type="radio" id="B" name="alternativa b" value="B">
      <label for="B">B</label><br>
      <input type="radio" id="C" name="alternativa c" value="C">
      <label for="C">C</label><br>
      <input type="radio" id="D" name="alternativa d" value="D">
      <label for="D">D</label><br>
      <input type="radio" id="E" name="alternativa e" value="E">
      <label for="E">E</label><br>
    <% else %>
       <textarea placeholder="Describe yourself here..."></textarea> 
    <% end %>
  <% end %>

</div>
