<p style="color: green"><%= notice %></p>

<h1>Ambientes</h1>

<div id="ambientes">
  <% @user.ambientes.each do |ambiente| %>

    <div class=card>
        <h5 class=card-header><%=ambiente.nome%></h5>
      <div class=card-body>
        <%= link_to 'Exames', user_ambiente_exams_path(@user, ambiente), class: "btn btn-primary"%>
        <%= link_to 'Alunos', "/users/#{current_user.id}/ambientes/#{ambiente.id}/adicionar", class: "btn btn-primary"%>
      </div>
    </div>
    <br>
  <% end %>
</div>

<%= link_to "Novo ambiente", new_user_ambiente_path(@user) %>
