<div id="<%= dom_id exam %>">
  <p>
    <strong>Name:</strong>
    <%= exam.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= exam.description %>
  </p>

  <p>
    <strong>Num questions:</strong>
    <%= exam.num_questions %>
  </p>

  <p>
    <strong>Exam date:</strong>
    <%= exam.exam_date %>
  </p>

  <p>
    <strong>Exam time:</strong>
    <%= exam.exam_time %>
  </p>

  <p>
    <strong>Ambiente:</strong>
    <%= exam.ambiente_id %>
  </p>

</div>
