<div id="<%= dom_id exam %>">
  <p>
    <strong>Question:</strong>
    <%= exam.question_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= exam.user_id %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= exam.score %>
  </p>

  <p>
    <strong>Hasfinished:</strong>
    <%= exam.hasFinished %>
  </p>

</div>
