<p style="color: green"><%= notice %></p>

<%= render @exam %>

<%= link_to "Perguntas", user_ambiente_exam_questions_path(current_user, @ambiente, @exam)%>

<div>
  <%= link_to "Voltar para provas", user_ambiente_exams_path %>

  <% if current_user.role == "Professor" %>
    <%= link_to "Editar essa prova", edit_user_ambiente_exam_path(current_user, @ambiente, @exam) %> |
    <%= button_to "Apagar essa prova", user_ambiente_exam_path(current_user, @ambiente, @exam), method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class:"btn btn-danger"  %>
  <% end %>
</div>
